body {
    font-family: Arial, sans-serif;
    background-image: url("https://img.freepik.com/vector-gratis/fondo-tecnologia-abstracta-azul-degradado_23-2149213765.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  h1 {
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  input[type="email"] {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
  }
  
  button[type="submit"] {
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  input::placeholder {
    color: white;
    text-align: center;
    padding: 10px; /* Ajusta el valor del padding según sea necesario */
  }